nav{
    display: flex;
   
    justify-content: space-between;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(174, 42, 45);
}
.btm-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 11px 20px ;
}

.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none ;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: gray;
}